{% extends "base.html" %}

{% block content %}
<div class="login-container login_2">
    <h2>Enter your credentials:</h2>
    <div class="credentials">
        <input class="input username" id="username" type="email" placeholder="Enter your email...">
        <input class="input password" id="password" type="password" placeholder="Enter your password...">
        <button class="btn btn-login" id="loginbtn">Login</button>
        <p id="output"></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
const myInput = document.getElementById('username');
const myButton = document.getElementById('loginbtn');
const outputParagraph = document.getElementById('output');

myButton.addEventListener('click', () => {
  const inputValue = myInput.value; // Get the value
  outputParagraph.textContent = `You entered: ${inputValue}`; // Display it
});
</script>
{% endblock %}